/*@keyframes slideInFromTop {
    0% {
      transform: translateY(50%);
      background-color: rgb(209,208,182);
    }
    100% {
      transform: translateY(100%);
      background-color:rgb(209,208,182);
      background: linear-gradient(0deg, rgba(209,208,182,1) 4%, rgba(249,178,76,0) 65%);
    }
  }
*/
html{
    overflow: hidden;
    margin-left: -0%;
}
@keyframes inicio {
    0% {
        transform: translateY(-400%);


    }
    100% {
        transform: translateY(0%);

        background: rgb(209,208,182);
        background: linear-gradient(0deg, rgba(209,208,182,0) 6%, rgba(0,23,54,1) 10%);
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        min-width: 100%;

    }
}
@keyframes luade{

    0%{
        opacity: 0%;
    }
    100%{
        opacity: 80%;

    }
}

  
header {  
    /* This section calls the slideInFromLeft animation we defined above */
    /* animation: 3s ease-in-out 0s 1 slideInFromTop; */
    overflow: hidden;



    text-align: center;
    color: #fff;
  }
    /* Added for aesthetics */
html{
    /*background: linear-gradient(to top, #d2d1b7 50%, #001736 50%); */
    /*background-color: rgb(50, 70, 73); */
    background: rgb(209,208,182);
    background: linear-gradient(0deg, rgba(209,208,182,1) 37%, rgba(0,23,54,1) 56%);
    margin: 0;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
html, body{ 
    min-width:100%;


  }
.maca{
    animation:2s ease-out 0s 1 inicio;
    animation-fill-mode: forwards;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 100%;
}
.lua{

    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    border-radius: 360px;
    background-color: rgba(102, 48, 48, 0);
    position: absolute;

    animation-fill-mode: forwards;
}
.lua2{
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    border-radius: 360px;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    background-image: url(../img/thot3.png), url(../img/lua.png);
    background-size: cover;

    border-spacing: 1000px;
    
}
.halo{
    margin: auto;
    top: 0;
    left: -6.5%;
    right: 0;
    bottom: 0;
    width: 550px;
    height: 550px;
    border-radius: 360px;

    position: absolute;
    background: rgb(255,229,133);
background: linear-gradient(13deg, rgba(255,229,133,1) 24%, rgba(246,117,55,1) 81%);
}
.halo_border{
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 525px;
    height: 525px;
    border-radius: 360px;
    background-color:rgba(0,23,54,1) ;
    position: absolute;
}

.barrita{
    height: 10%;
    width: 90%;
    border: auto;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
    
    position: absolute;
    background: rgb(242,240,242);
    background: linear-gradient(0deg, rgba(242,240,242,1) 23%, rgba(239,214,236,1) 100%);
}
.intro{
    padding-top: 5%;
    color: #fff;
    margin: 5%;
    max-width: 25%;
    text-align: center;
}
.intro, h1{
    font-size: 48px;
} 
.intro, p{
    font-size: 24px;
}
.demo img{
    max-width: 500px;
    max-height: 500px;
    left: 70%;
    position: absolute;
    top: 25%;
    left: 120%;
    bottom: 0;
    box-shadow: 10px 5px 5px black;


}
.thoth, a{
    z-index: 100;
    margin: auto;
    top: 0;
    left: -1%;
    right: 0;
    bottom: 0;
    width: 525px;
    height: 525px;
    border-radius: 360px;
    background-color:rgba(0, 23, 54, 0) ;
    position: absolute;
}
/* 