body {
    margin:3px;
    padding:0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(49, 58, 58);
    color: rgb(250, 250, 250);

    /*overflow: hidden; */
    
}
.container {
    display: grid;
    width: 100%;
    max-height: 100%;
    grid-template-columns:  1fr;
    grid-template-rows:  8% 80% 5% ;
    grid-template-areas:
    "nav"
    "main"
    "footer";
    min-height: 100%;
}
.nav{
    display: grid;
    max-height: 100%;
    grid-area: nav;
    grid-template-columns: 4% 1fr 20%;
    grid-template-rows: 1fr;
    grid-gap:0.3rem;
    overflow: auto;
    min-width: 0;
    min-height: 0;
}
.nav > *{
    box-shadow: 2px 5px 10px rgba(41, 41, 41, 0.712);
    border-style:solid;
    /*border-radius: 10px; */
    border-color: rgba(41, 41, 41, 0.712);
    background-color: rgb(60, 65, 65);
    text-align: center;
}
.main{
    display: grid;
    grid-area: main;
    grid-template-columns: 4% 5% 5% 5% 1fr 5% 5%;
    grid-template-rows: 7.5% 1fr;
    grid-gap:0.4rem;
}
.main > *{
    box-shadow: 2px 5px 10px rgba(41, 41, 41, 0.712);
    border-style:solid;
    /*border-radius: 10px; */
    border-color: rgba(41, 41, 41, 0.712);
    background-color: rgb(60, 65, 65);
    max-block-size: 40%;
    text-align: center;
    min-height: 100%;
}
.main .telaGeral{

    grid-column-start:  5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.barraEsquerda{
    grid-column-start: 2;
    grid-column-end: 5;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 45% auto;
    grid-gap:0.4rem;
    max-height: 100%;
    max-width: 100%;

}
.mensagem{
    height: 10px;
}
.barraEsquerda > *{
    box-shadow: 2px 5px 10px rgba(41, 41, 41, 0.712);
    border-style:solid;

    border-color: rgba(41, 41, 41, 0.712);
    background-color: rgb(60, 65, 65);


    text-align: center;
    min-height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}
.barraEsquerda > p{
    padding-top: 4%;
    margin-bottom: 5%;
}
.conteudo1hist{

    background-image: url(../img/dpedro.png);
    background-size: cover;
    background-size: 110%;
    max-width: 100%;
    background-position: 50% 50%;
    max-height: 100%;
    object-fit: fill;
}
.conteudo2hist{
    background-image: url(../img/dpedro2.png);
    background-size: cover;
    background-size: 110%;
    max-width: 100%;
    background-position: 50% 50%;
    max-height: 100%;
    object-fit: fill;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 15px rgb(27, 27, 27); /*vinheta*/
}

.main .barraDireita{
    grid-column-start: 6;
    grid-column-end: 8;
}
.barraDireita{
    display: grid;
    grid-template-rows: 1fr auto auto;
}
.barraDireita >*{
    border-style:solid;
    border-color: aliceblue;
}
.footer{
    display: grid;
    grid-area: footer;
    grid-template-columns: 4% 5% 5% 5% 1fr 5% 5%;
    grid-template-rows: 1fr;
    grid-gap:0.4rem;
}
.footer > *{
    box-shadow: 2px 5px 10px rgba(41, 41, 41, 0.712);
    border-style:solid;
    /*border-radius: 10px; */
    border-color: rgba(41, 41, 41, 0.712);
    background-color: rgb(60, 65, 65);
    max-block-size: 40%;

    min-height: 100%;
}
.envmensagem {
    display: grid;
    grid-template-columns: 1fr 10%;
    grid-template-rows: 1fr;
    grid-column-start:  5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.textbox input{
    width: 100%;
    height: 100%;
    font-size: large;
}
.submit button{
    width: 100%;
    height: 100%;
}
.imgchanger button{
    width: 100%;
    height: 100%;
}

.telaGeral{

    display: grid;
    grid-template-columns: 1fr;
    max-height: fit-content;
    grid-template-rows: repeat(auto-fit, );
    text-align: end;
    text-align: left;
    overflow: scroll; 
    grid-gap:0.4rem;
    overflow-x: hidden;

}
.telaGeral ul{
    padding: 0%;
    margin: 0%;
    margin-right: 8%;
}
.msgTelaGeral{
    display: grid;
    grid-template-columns: 5% 20% 10% ;

    width: 100%;
    overflow: auto; 
    text-align: left;
    margin-top: 10px;
    grid-gap:0.4rem;
    min-height: 100px;
    height: auto;
    padding-bottom: 10px;

}
.conteudomsg{
    height: auto;
    width: 100%;
    overflow: auto;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
    margin-block-start: 0px;
    height: 100%;
}
.msgTelaGeral img{
    grid-row-start: 1;
    grid-row-end: 3;
    height: 6vh; 
    width: 100%; 
    clip-path: circle();
    object-fit:fill;
}

.msgTelaGeral:hover{
    background-color:rgba(41, 41, 41, 0.404) ;
}
/*ideia para fazer o highlight na imagem igual ao discord*/

.materias{
    display: grid;
    padding-top: 10px;
    grid-template-columns: 1fr;
    /*grid-template-rows: 5%;*/
    grid-auto-rows: 9%;
    grid-gap:0.4rem;
    
    
}
.materias >*{
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 20px;
    min-height: 20px;
    min-width: 75%;
    max-width: 100%;
    max-height: 100%;
    border-color: aliceblue;


}
.materias p{
    border-radius: 0;
    border-style: none;
    margin: auto;
}
.biologia{

    background-image: url(../img/Biologia.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
/*seria interessante conseguir usar só>* ao inves de fazer tudo pra cada materia*/
.iconematerias {
    height: auto;


}
.historia {
    background-image: url(../img/Historia.png);
    background-position: 50% 50%;
    background-size:110%;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.filosofia {
    background-image: url(../img/Filosofia.png);
    background-position: 50% 50%;
    background-size:110%;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.matematica {
    background-image: url(../img/Matematica.png);
    background-position: 50% 50%;
    background-size:110%;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.geografia {
    background-image: url(../img/Geografia.png);
    background-position: 50% 50%;
    background-size:110%;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.quimica {
    background-image: url(../img/Quimica.png);
    background-position: 50% 50%;
    background-size:110%;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.sociologia {
    background-image: url(../img/Sociologia.png);
    background-position: 50% 50%;
    background-size:110%;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.religiao {
    background-image: url(../img/Religiao.png);
    background-position: 50% 50%;
    background-size:110%;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.fisica {
    background-image: url(../img/Fisica.png);
    background-position: 50% 50%;
    background-size:110%;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.geral{

    color: aliceblue;
}
a:link{
    text-decoration: none!important;
};
.perfil{
    display: grid;
    grid-template-columns: auto auto;
    min-height: 1px;
    height: 2px ;

}
.conteudoperfil{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.conteudoperfil img{
    grid-row-start: 2;
    grid-row-end: 3;
    height: 6vh; 
    width: 100%; 
    clip-path: circle();
    object-fit:fill;
}
.conteudoperfil span{
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: auto;
    margin-bottom: auto;
}
.barrita{
    height: 100%;
    width: 100%;
    border: auto;
    margin: auto;
    border-radius: 10px;
    
    
    background-repeat:no-repeat ;
    background-position: 100% 50%;
    background-size: 5%;
    display: grid;
    grid-template-columns: 1fr 5%;

}
.barrita .b{
    height: 100%;
    width: 100%;
    border: auto;
    margin: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: rgb(242,240,242);
    background: linear-gradient(0deg, rgba(242,240,242,1) 23%, rgba(239,214,236,1) 100%);

}
.barrita .a{
    background-color: rgba(239, 214, 236, 0.452);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url(../img/Lupinha.png);
    background-repeat:no-repeat ;
    background-position: 100% 100%;
    background-size: 100%;

}
.caderno img{
    object-fit:contain;
    max-height: 100%;
    max-width: 100%;
}
.metas img{
    object-fit:contain;
    max-height: 100%;
    max-width: 100%;
}
.listaMembros img{
    object-fit:contain;
    max-height: 100%;
    max-width: 100%;
}
.ListaProfessores img{
    object-fit:contain;
    max-height: 100%;
    max-width: 100%;
}
.conteudo1bio{

    background-image: url(../img/biotec.png);
    color: black;
    background-size: cover;
    background-size: 200%;
    max-width: 100%;
    background-position: 50% 50%;
    max-height: 100%;
    object-fit: fill;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 40px rgb(27, 27, 27);
}
.conteudo2bio{
    color: black;
    background-image: url(../img/bioetica.png);
    background-size: cover;
    background-size: 250%;
    max-width: 100%;
    background-position: 50% 50%;
    max-height: 100%;
    object-fit: fill;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 50px rgb(27, 27, 27); /*vinheta*/
}
.conteudo1filo{

    background-image: url(../img/hobbes.png);
    color: rgb(255, 255, 255);
    background-size: cover;
    background-size: 100%;
    max-width: 100%;
    background-position: 50% 50%;
    max-height: 100%;
    object-fit: fill;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 40px rgb(27, 27, 27);
}
.conteudo2filo{
    color: rgb(255, 255, 255);
    background-image: url(../img/locke.png);
    background-size: cover;
    background-size: 100%;
    max-width: 100%;
    background-position: 50% 50%;
    max-height: 100%;
    object-fit: fill;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 50px rgb(27, 27, 27); /*vinheta*/
}
.calendario, .geral, .foruns, .conteudos, .notas{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(199, 199, 199);
    line-height: 5%;
    letter-spacing: 1px;
    font-size: larger;
}
.barraEsquerda > p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(199, 199, 199);
    line-height: 5%;
    letter-spacing: 1px;
    font-size: larger;

}
.barrita p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(56, 56, 56);
    line-height: 5%;
    letter-spacing: 1px;
    font-size:x-large;
    text-align: left;
    margin-left: 10px;
}